Source: libtheora
Section: libs
Priority: optional
Maintainer: Debian Xiph.org Maintainers <pkg-xiph-maint@lists.alioth.debian.org>
Uploaders:
 Petter Reinholdtsen <pere@debian.org>
 , Martin Steghöfer <martin@steghoefer.eu>
Build-Depends: debhelper (>> 9), dh-autoreconf, devscripts,
 doxygen, libogg-dev, libsdl1.2-dev, libvorbis-dev, python,
 libtool, automake, quilt, dpkg (>= 1.14.8), libpng-dev, pkg-config
Build-Depends-Indep: transfig, texlive-latex-base, texlive-latex-extra,
 texlive-latex-recommended, texlive-fonts-recommended, ghostscript
Standards-Version: 3.9.6
Vcs-Git: https://anonscm.debian.org/git/pkg-xiph/libtheora.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-xiph/libtheora.git
Homepage: http://www.theora.org/

Package: libtheora0
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Theora Video Compression Codec
 Theora is an open video codec being developed by the Xiph.org Foundation as
 part of their Ogg project. Theora is originally derived from On2's VP3 codec,
 and has improved on it significantly with the merging of code from the
 Thusnelda branch.

Package: libtheora-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: ${misc:Depends}, libtheora0 (= ${binary:Version}), libogg-dev
Description: Theora Video Compression Codec (development files)
 Theora is a fully open, non-proprietary, patent-and-royalty-free,
 general-purpose compressed video format.
 .
 This package contains the header files needed to develop applications
 with libtheora.

Package: libtheora-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Suggests: libtheora-dev
Description: Theora Video Compression Codec (documentation)
 Theora is a fully open, non-proprietary, patent-and-royalty-free,
 general-purpose compressed video format.
 .
 This package contains the documentation about the format and programming.

Package: libtheora-bin
Architecture: any
Section: utils
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Theora Video Compression Codec (example encoder, decoder)
 Theora is a fully open, non-proprietary, patent-and-royalty-free,
 general-purpose compressed video format.
 .
 This package contains a reference implementation of an encoder and a
 decoder.

Package: libtheora-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends: libtheora0 (= ${binary:Version}), ${misc:Depends}
Description: Theora Video Compression Codec (debug)
 Theora is a fully open, non-proprietary, patent-and-royalty-free,
 general-purpose compressed video format.
 .
 This package contains debugging symbols useful for tracking bugs in
 libtheora software.
