#!/usr/bin/make -f

%:
	dh $@ --with quilt,autoreconf

override_dh_strip:
	dh_strip --dbg-package=libtheora-dbg

override_dh_install:
	dh_install
	for i in debian/libtheora-bin/usr/bin/*; do mv $$i debian/libtheora-bin/usr/bin/theora_`basename $$i`; done

override_dh_installdocs:
	dh_installdocs README AUTHORS

override_dh_autoreconf:
	dh_autoreconf autoreconf -- -i -f -I m4
